<div class="grid__full login--backgroud">
  <div class="grid">
    <div class="grid__row login">
      <div class="grid__col-2p-6c login__i4">
        <img src="https://shopnicknso.net/storage/images/taikhoan.jpg" alt="" class="login__i4-img">
        <h3 class="login__i4-desc">Đăng nhập vào trải nghiệm dịch vụ của chúng tôi!</h3>
      </div>
      <div class="grid__col-2p-6c login__form">
        <div class="login__form-content">
          <h3 class="login__form-title">Đăng nhập</h3>
          <div class="login__form-list-input">
            <input type="text" placeholder="Email hoặc số điện thoại" class="login__form-input">
            <input type="text" placeholder="Mật khẩu" class="login__form-input">
          </div>
          <button class="btn login__form-btn">ĐĂNG NHẬP</button>

          <div class="login__form-support">
            <a href="" class="page--a--link login__form-support-link">Quên mật khẩu</a>
            <a href="" class="page--a--link login__form-support-link">Đăng nhập với SMS</a>
          </div>

          <div class="login__form-or">
            <div class="login__form-or-line"></div>
            <span class="login__form-or-text">HOẶC</span>
            <div class="login__form-or-line"></div>
          </div>
          <ul class="login__form-mxh">
            <li class="login__form-mxh-item">
              <a href="" class="login__form-mxh-link">
                <i class="login__form-mxh-link-icon fab fa-facebook-square"></i>
                <span class="login__form-mxh-link-title">Facebook</span>
              </a>
            </li>
            <li class="login__form-mxh-item">
              <a href="" class="login__form-mxh-link">
                <i class="login__form-mxh-link-icon fab fa-google-plus-square"></i>
                <span class="login__form-mxh-link-title">Google(M)</span>
              </a>
            </li>
          </ul>
          <div class="login__form-next">
            <p class="login__form-next-desc">
              Bạn chưa có tài khoản?
              <a routerLink="/register" class="page--a--link login__form-next-btn">Đăng ký</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
