
<div class="grid__full grid__full--underline">
    <div class="header">
        <div class="header__adr">
            <div class="header__adr-left">
                <a href="" class="header__adr-link">
                    <i class="header__adr-link-icon fab fa-facebook-square"></i>
                </a>
                <a href="" class="header__adr-link">
                  <i class="header__adr-link-icon fab fa-youtube-square"></i>
                </a>
            </div>
            <div class="header__adr-right">
                <span class="header__adr-title">Hotline: </span>
                <span class="header__adr-number">0854220400</span>
            </div>
        </div>
    </div>
</div>
<div class="grid">
    <ul class="header__nav">
        <li class="header__nav-item">
            <a href="" class="header__nav-item-link">
                TRANG CHỦ
            </a>
        </li>
        <li class="header__nav-item">
            <a href="" class="header__nav-item-link">
                NẠP THẺ
            </a>
        </li>
        <li class="header__nav-item">
            <a href="" class="header__nav-item-link">
                NẠP VÍ - ATM
            </a>
        </li>
        <li class="header__nav-item header__nav-item--btn">
            <button class="btn header__nav-item-btn">
                <i class="fas fa-user"></i>
                ĐĂNG NHẬP
            </button>
        </li>
        <li class="header__nav-item header__nav-item--btn">
            <button class="btn header__nav-item-btn">
                <i class="fas fa-user-plus"></i>
                ĐĂNG KÝ
            </button>
        </li>
    </ul>
</div>
