<div class="grid__full">
    <div class="banel">
        <img class="banel__img" src="https://i.imgur.com/zovEBWR.jpg" alt="">
    </div>
</div>

<div class="grid">
    <div class="service">
        <div class="grid__row service__title">
            <h3 class="grid__col-1p-12c service__title-text">DỊCH VỤ NỔI BẬT</h3>
        </div>
        <ul class="grid__row service__list-item">
            <li class="grid__col-4p-3c service__item">
                <a href="https://www.facebook.com/tuongedok.8900" class="service__item-link">
                    <img src="https://i.imgur.com/1zOrXvm.jpg" alt="" class="service_item-img">
                </a>
            </li>
            <li class="grid__col-4p-3c service__item">
                <a class="service__item-link">
                    <img src="https://shopnicknso.net/storage/images/taikhoan.jpg" alt="" class="service_item-img">
                </a>
            </li>
            <li class="grid__col-4p-3c service__item">
                <a class="service__item-link">
                    <img src="https://shopnicknso.net/storage/images/napthe.jpg" alt="" class="service_item-img">
                </a>
            </li>
            <li class="grid__col-4p-3c service__item">
                <a class="service__item-link">
                    <img src="https://shopnicknso.net/storage/images/dichvu.jpg" alt="" class="service_item-img">
                </a>
            </li>
        </ul>
    </div>

    <div class="category">
        <div class="grid__row category__title">
            <h3 class="grid__col_1p_12c category__title-text">
                SHOP ACC NÈ
            </h3>
        </div>
        <ul class="grid__row category__list-item">
          <li class="grid__col-4p-3c category__item">
            <a href="" class="category__item-link">
              <img src="https://i.imgur.com/J5ZrcpX.jpg" alt="" class="category__item-img">
              <h3 class="category__item-tiltle">Shop nick cực quỳ</h3>
              <span class="category__item-sum">Số acc: 1208</span>
              <span class="category__item-brand">Đã bán: 999</span>
              <button class="btn category__item-btn">
                Xem tất cả
              </button>
            </a>
          </li>
          <li class="grid__col-4p-3c category__item">
            <a href="" class="category__item-link">
              <img src="https://i.imgur.com/J5ZrcpX.jpg" alt="" class="category__item-img">
              <h3 class="category__item-tiltle">Shop nick quỳ</h3>
              <span class="category__item-sum">Số acc: 1208</span>
              <span class="category__item-brand">Đã bán: 999</span>
              <button class="btn category__item-btn">
                Xem tất cả
              </button>
            </a>
          </li>
          <li class="grid__col-4p-3c category__item">
            <a href="" class="category__item-link">
              <img src="https://i.imgur.com/J5ZrcpX.jpg" alt="" class="category__item-img">
              <h3 class="category__item-tiltle">Shop nick víp</h3>
              <span class="category__item-sum">Số acc: 1208</span>
              <span class="category__item-brand">Đã bán: 999</span>
              <button class="btn category__item-btn">
                Xem tất cả
              </button>
            </a>
          </li>
          <li class="grid__col-4p-3c category__item">
            <a href="" class="category__item-link">
              <img src="https://i.imgur.com/J5ZrcpX.jpg" alt="" class="category__item-img">
              <h3 class="category__item-tiltle">Shop nick víp hơn</h3>
              <span class="category__item-sum">Số acc: 1208</span>
              <span class="category__item-brand">Đã bán: 999</span>
              <button class="btn category__item-btn">
                Xem tất cả
              </button>
            </a>
          </li>
        </ul>
    </div>

</div>
