<div class="grid__full footer--backgroud">
  <div class="grid">
    <div class="grid__row footer">
      <div class="grid__col-2p-4c footer__left">
        <h3 class="footer__left-title">Về chúng tôi</h3>
        <span class="footer__left-desc">
          Chuyên mua bán nick các game... an toàn. Tin cậy nhanh chóng. Giao dịch tự động 24/24
        </span>
        <div class="footer__left-mxh">
          <i class="footer__left-mxh-icon footer__left-mxh-icon-fb fab fa-facebook-square"></i>
          <i class="footer__left-mxh-icon footer__left-mxh-icon-ytb fab fa-youtube-square"></i>
        </div>
      </div>
      <div class="grid__col-2p-8c footer__right">
        <h3 class="footer__right-title">Chúng tôi ở đâu</h3>
        <span class="footer__right-desc">
          Chúng tôi làm việc một cách chuyên nghiệp, uy tín, nhanh chóng và luôn đặt quyền lợi của bạn lên hàng đầu
        </span>
        <ul class="footer__right-list-item">
          <li class="footer__right-item footer__right-place">
            <a href="" class="footer__rigth-item-link">
              <i class="footer__right-item-icon footer__right-place-icon fas fa-map-marker-alt"></i>
              <span class="footer__right-item-text footer__right-place-text">Hà Tĩnh</span>
            </a>
          </li>
          <li class="footer__right-item footer__right-phone">
            <a href="" class="footer__rigth-item-link">
              <i class="footer__right-item-icon footer__right-phone-icon fas fa-phone-alt"></i>
              <span class="footer__right-item-text footer__right-phone-text">0763280900(24/24)</span>
            </a>
          </li>
          <li class="footer__right-item  footer__right-email">
            <a href="" class="footer__rigth-item-link">
              <i class="footer__right-item-icon footer__right-email-icon fas fa-envelope"></i>
              <span class="footer__right-item-text footer__right-email-text">batuongxlv@gmail.com</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid__row footer__author">
      <span class="grid__col-1p-12c footer__author-desc">
        2021 © Copyright | Vận hành bởi
        <a href="" class="footer__author-link">
          BaTuongXLV
        </a>
      </span>
    </div>
  </div>
</div>
