<div class="grid__full register--backgroud">
  <div class="grid">
    <div class="grid__row register">
      <div class="grid__col-2p-6c register__i4">
        <img src="https://i.imgur.com/1zOrXvm.jpg" alt="" class="register__i4-img">
        <h3 class="register__i4-desc">Shop acc nhanh gọn nhất quả đất</h3>
      </div>
      <div class="grid__col-2p-6c register__form">
        <div class="register__form-content">
          <h3 class="register__form-title">Đăng ký</h3>
          <div class="register__form-list-input">
            <input type="text" placeholder="Email hoặc số điện thoại" class="register__form-input">
            <input type="text" placeholder="Mật khẩu" class="register__form-input">
            <input type="text" placeholder="Nhập lại mật khẩu" class="register__form-input">
          </div>
          <button class="btn register__form-btn">ĐĂNG KÝ</button>
          <div class="register__form-or">
            <div class="register__form-or-line"></div>
            <span class="register__form-or-text">HOẶC</span>
            <div class="register__form-or-line"></div>
          </div>
          <ul class="register__form-mxh">
            <li class="register__form-mxh-item">
              <a href="" class="register__form-mxh-link">
                <i class="register__form-mxh-link-icon fab fa-facebook-square"></i>
                <span class="register__form-mxh-link-title">Facebook</span>
              </a>
            </li>
            <li class="register__form-mxh-item">
              <a href="" class="register__form-mxh-link">
                <i class="register__form-mxh-link-icon fab fa-google-plus-square"></i>
                <span class="register__form-mxh-link-title">Google(M)</span>
              </a>
            </li>
          </ul>
          <div class="register__form-note">
            <p class="register__form-note-desc">Bằng việc đăng kí, bạn đã đồng ý với shop của chúng tôi về
              <a href="" class="register__form-note-desc-link page--a--link">Điều khoản dịch vụ</a> &
              <a href="" class="register__form-note-desc-link page--a--link">Chính sách bảo mật</a>
            </p>
          </div>
          <div class="register__form-next">
            <p class="register__form-next-desc">
              Bạn đã có tài khoản?
              <a routerLink="/login" class="register__form-next-btn page--a--link">Đăng nhập</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
