<div class="grid">
  <div class="information">

    <div class="information-i4 grid__row">
      <div class="information-i4-banel grid__col-1p-12c"></div>
      <div class="information-i4-user grid__col-1p-12c">
        <img src="https://nick.vn/assets/frontend/images/unknown-avatar.jpg" alt="" class="information-i4-user-img">
        <div class="information-i4-user-desc">
          <h2 class="information-i4-user-id">ID Web: 280900</h2>
          <h2 class="information-i4-user-name">BaTuongXLV</h2>
          <h2 class="information-i4-user-monney">9.999.999 vnđ</h2>
        </div>
      </div>
    </div>

    <div class="frame grid__row">
      <div class="frame__nav-list grid__col-2p-2c">
        <div class="frame__nav-item">
          <h3 class="frame__nav__title"> Quản lý tài khoản</h3>
          <ul class="frame__nav__list-item">
            <li class="frame__nav__item">
              <a href="" class="frame__nav__item-link">
                <i class="fas fa-user frame__nav__item-icon"></i>
                <span class="frame__nav__item-title">Thông tin tài khoản</span>
              </a>
            </li>
            <li class="frame__nav__item">
              <a href="" class="frame__nav__item-link">
                <i class="fas fa-key frame__nav__item-icon"></i>
                <span class="frame__nav__item-title">Đổi mật khẩu</span>
              </a>
            </li>
            <li class="frame__nav__item">
              <a href="" class="frame__nav__item-link">
                <i class="fas fa-history frame__nav__item-icon"></i>
                <span class="frame__nav__item-title">Lịch sử giao dịch</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="frame__nav-item">
          <h3 class="frame__nav__title"> Quản lý dịch vụ</h3>
          <ul class="frame__nav__list-item">
            <li class="frame__nav__item">
              <a href="" class="frame__nav__item-link">
                <i class="fas fa-user frame__nav__item-icon"></i>
                <span class="frame__nav__item-title">Nạp thẻ tự động</span>
              </a>
            </li>
            <li class="frame__nav__item">
              <a href="" class="frame__nav__item-link">
                <i class="fas fa-key frame__nav__item-icon"></i>
                <span class="frame__nav__item-title">Tài khoản đã mua</span>
              </a>
            </li>
            <li class="frame__nav__item">
              <a href="" class="frame__nav__item-link">
                <i class="fas fa-history frame__nav__item-icon"></i>
                <span class="frame__nav__item-title">Tài khoản trả góp</span>
              </a>
            </li>
            <li class="frame__nav__item">
              <a href="" class="frame__nav__item-link">
                <i class="fas fa-history frame__nav__item-icon"></i>
                <span class="frame__nav__item-title">Dịch vụ đã mua</span>
              </a>
            </li>
            <li class="frame__nav__item">
              <a href="" class="frame__nav__item-link">
                <i class="fas fa-history frame__nav__item-icon"></i>
                <span class="frame__nav__item-title">Chuyển tiền</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="frame__content grid__col-2p-10c">
        <h3 class="frame__content-title">THÔNG TIN TÀI KHOẢN</h3>
        <div class="frame__content-son">
          <table class="information-details">
            <tr class="information-details-item">
              <th class="information-details-item-title">ID của bạn:</th>
              <td class="information-details-item-content">280900</td>
            </tr>
            <tr class="information-details-item">
              <th class="information-details-item-title">Tên tài khoản:</th>
              <td class="information-details-item-content">batuongxlv</td>
            </tr>
            <tr class="information-details-item">
              <th class="information-details-item-title">Địa chỉ Email:</th>
              <td class="information-details-item-content">vansong2204@gmail.com</td>
            </tr>
            <tr class="information-details-item">
              <th class="information-details-item-title">Số điện thoại:</th>
              <td class="information-details-item-content">0854220400</td>
            </tr>
            <tr class="information-details-item">
              <th class="information-details-item-title">Nhóm tài khoản:</th>
              <td class="information-details-item-content">Khách hàng</td>
            </tr>
            <tr class="information-details-item">
              <th class="information-details-item-title">Ngày tham gia:</th>
              <td class="information-details-item-content">2021-07-27 08:17:43</td>
            </tr>
            <tr class="information-details-item">
              <th class="information-details-item-title">Mật khẩu:</th>
              <td class="information-details-item-content">****** (Đổi mật khẩu)</td>
            </tr>
            <tr class="information-details-item">
              <th class="information-details-item-title">Đăng xuất:</th>
              <td class="information-details-item-content"><button class="btn information-details-item-content-btn">Đăng xuất</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>


